@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #383e45;
  font-size: 0.9rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #383e45;
}

li {
  list-style: none;
}

footer p {
  font-size: 8px;
  text-align: center;
  margin-bottom: 10px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4%;
}

.sec-title {
  font-size: 32px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 12px;
  text-align: center;
  margin-bottom: 65px;
}

.content {
  display: flex;
  justify-content: center;
}

#header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#header img {
  width: 120px;
}

#header ul {
  display: flex;
  text-align: center;
}

#header li {
  margin-top: 10px;
  margin-left: 30px;
}

#mainvisual img{
  width: 100%;
  height: 600px;
  object-fit: cover;
  margin-bottom: 75px;
}

#about {
  margin-bottom: 100px;
}

#about img {
  width: 100px;
  border-radius: 50%;
  margin-right: 30px;
}

#about h3 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#bicycle {
  margin-bottom: 100px;
}

#bicycle #image-list{
  display: flex;

}

#bicycle li {
  margin: 8px;
  text-align: center;
}

#bicycle li h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

@media (max-width: 600px) {
  #about .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #bicycle #image-list {
    flex-direction: column;
    align-items: center;
  }
}